{% extends 'components/table_employee.html' %}

{% block table_title %}Lista de Ventas{% endblock table_title %}

{% block add_url %}

<a href="{% url 'sales:sale_create' %}" class="bg-blue-500 rounded-lg px-1 py-0.5 text-sm text-white hover:bg-blue-600">Agregar</a>

{% endblock add_url %}

{% block tr_thead %}

<th class="p-2">
    <div class=" font-semibold">Producto Vendido</div>
</th>
<th class="p-2">
    <div class=" font-semibold">Fecha Venta</div>
</th>
<th class="p-2">
    <div class=" font-semibold">Precio Unidad</div>
</th>
<th class="p-2">
    <div class=" font-semibold">Cantidad Vendida</div>
</th>
<th class="p-2">
    <div class=" font-semibold">Total Vendida</div>
</th>

{% endblock tr_thead %}

{% block tr_tbody %}

<td class="p-2">
    <div class="font-medium text-gray-800">{{ object.product.name }}</div>
</td>
<td class="p-2">
<div class="font-medium text-gray-800">{{ object.created_at }}</div>
</td>
<td class="p-2">
<div class="font-medium text-gray-800">{{ object.price_sale }}</div>
</td>
<td class="p-2">
<div class="font-medium text-gray-800">{{ object.amount_sale }}</div>
</td>
<td class="p-2">
<div class="font-medium text-gray-800">{{ object.total_sale }}</div>
</td>

{% endblock tr_tbody %}

{% block message %}No tienes registros asociados{% endblock message %}