{% extends 'components/admin/form.html' %}
{% load widget_tweaks %}

{% block title %}Agregar Producto{% endblock title %}

{% block form_body %}

<div class="relative z-0 w-full mb-5 group">
    {{ form.code|add_class:"block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 pee"|append_attr:"placeholder:Código"}}
</div>
<div class="relative z-0 w-full mb-5 group">
    {{ form.name|add_class:"block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 pee"|append_attr:"placeholder:Nombre Producto"}}
</div>
<div class="grid md:grid-cols-2 md:gap-6">
    <div class="relative z-0 w-full mb-5 group">
        {{ form.category|add_class:"input block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 pee"}}
    </div>
    <div class="relative z-0 w-full mb-5 group">
        {{ form.status|add_class:"block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"}}
    </div>
</div>
<div class="grid md:grid-cols-2 md:gap-6">
    <div   div class="relative z-0 w-full mb-5 group">
        {{ form.price|add_class:"block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"|append_attr:"placeholder:Precio Unitario"}}
    </div>
    <div class="relative z-0 w-full mb-5 group">
        {{ form.stock|add_class:"block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"|append_attr:"placeholder:Cantidad Disponible"}}
    </div>
</div>

{% endblock form_body %}

{% block button_text %}Crear Producto{% endblock button_text %}