{% extends 'components/admin/table.html' %}

{% block title_table %}Lista de Productos{% endblock title_table %}

{% block url_add %}

<a href="{% url 'products:create_product' %}" class="bg-cyan-500 my-auto text-sm hover:bg-cyan-600 text-white py-1 px-4 rounded-lg">
    Agregar
</a>

{% endblock url_add %}

{% block tr_thead %}

<th class="py-2 px-4 bg-grey-lightest font-bold uppercase text-sm text-grey-light border-b border-grey-light">Codigo</th>
<th class="py-2 px-4 bg-grey-lightest font-bold uppercase text-sm text-grey-light border-b border-grey-light">Nombre Producto</th>
<th class="py-2 px-4 bg-grey-lightest font-bold uppercase text-sm text-grey-light border-b border-grey-light">Precio Unidad</th>
<th class="py-2 px-4 bg-grey-lightest font-bold uppercase text-sm text-grey-light border-b border-grey-light">Cantidad</th>
<th class="py-2 px-4 bg-grey-lightest font-bold uppercase text-sm text-grey-light border-b border-grey-light">Estado</th>
<th class="py-2 px-4 bg-grey-lightest font-bold uppercase text-sm text-grey-light border-b border-grey-light">Categoria</th>
<th class="py-2 px-4 bg-grey-lightest font-bold uppercase text-sm text-grey-light border-b border-grey-light">Creador</th>
<th class="py-2 px-4 bg-grey-lightest font-bold uppercase text-sm text-grey-light border-b border-grey-light"></th>

{% endblock tr_thead %}

{% block tr_tbody %}

<td class="py-2 px-4 border-b border-grey-light">{{ object.code }} </td>
<td class="py-2 px-4 border-b border-grey-light">{{ object.name }} </td>
<td class="py-2 px-4 border-b border-grey-light">{{ object.price }}</td>
<td class="py-2 px-4 border-b border-grey-light">{{ object.stock }}</td>
<td class="py-2 px-4 border-b border-grey-light">
    {% if object.status == 'Available' %}
        Disponible
    {% elif object.status == 'Disabled' %}
        No Disponible
    {% endif %}
</td>
<td class="py-2 px-4 border-b border-grey-light">{{ object.category.name }}</td>
<td class="py-2 px-4 border-b border-grey-light">{% if object.user.first_name or object.user.last_name%} {{ object.user.fullname }} {% else %} {{ object.user.email }} {% endif %}</td>
<td class="py-2 px-4 border-b border-grey-light">
    <div class="flex gap-2">
        {% include 'components/admin/modal.html' with delete_url='products:delete_product' %}

        <a href="{% url 'products:update_product' object.id %}">
            {% include 'components/admin/icon_update.html' %}
        </a>
    <div>
</td>

{% endblock tr_tbody %}

{% block message %} No tienes productos asociados aun {% endblock message %}