{% extends 'components/employees/form.html' %}
{% load widget_tweaks %}

{% block title %}

<h2 class="text-xl font-bold tracking-tight text-gray-900 sm:text-3xl">  Agregar Provedor</h2>

{% endblock title %}

{% block form_body %}

<div class="grid grid-cols-1 gap-x-8 gap-y-6 sm:grid-cols-2">
  <div class="sm:col-span-2">
      <label for="dni" class="block text-sm font-semibold leading-6 text-black">Dni o Nit</label>
      <div class="mt-2.5">
        {{ form.document|add_class:"block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset shadow-blue-500 ring-blue-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-400 sm:text-sm sm:leading-6"}}
      </div>
  </div>
  <div class="sm:col-span-2">
      <label for="name" class="block text-sm font-semibold leading-6 text-black">Nombre Provedor</label>
      <div class="mt-2.5">
        {{ form.name|add_class:"block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset shadow-blue-500 ring-blue-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-400 sm:text-sm sm:leading-6"}}
      </div>
  </div>
  <div class="sm:col-span-2">
    <label for="location" class="block text-sm font-semibold leading-6 text-black">Ubicacion</label>
    <div class="mt-2.5">
      {{ form.location|add_class:"block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset shadow-blue-500 ring-blue-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-400 sm:text-sm sm:leading-6"}}
    </div>
  </div>
  <div>
    <label for="email" class="block text-sm font-semibold leading-6 text-black">Email</label>
    <div class="mt-2.5">
      {{ form.email|add_class:"block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm shadow-blue-500 ring-1 ring-inset ring-blue-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-400 sm:text-sm sm:leading-6"}}
    </div>
  </div>
  <div>
    <label for="phone" class="block text-sm font-semibold leading-6 text-black">Telefono</label>
    <div class="mt-2.5">
      {{ form.phone|add_class:"block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset shadow-blue-500 ring-blue-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-400 sm:text-sm sm:leading-6" }}
    </div>
  </div>
</div>

{% endblock form_body %}

{% block button_text %}Crear Provedor{% endblock button_text %}