{% extends 'components/employees/table.html' %}

{% block table_title %}Lista de Provedores{% endblock table_title %}

{% block add_url %}

<a href="{% url 'suppliers:create_supplier' %}" class="bg-blue-500 rounded-lg px-1 py-0.5 text-sm text-white hover:bg-blue-600">Agregar</a>

{% endblock add_url %}

{% block tr_thead %}

<th class="p-2">
    <div class=" font-semibold">DNI O NIT</div>
</th>
<th class="p-2">
    <div class=" font-semibold">Nombre</div>
</th>
<th class="p-2">
    <div class=" font-semibold">Ubicacion</div>
</th>
<th class="p-2">
    <div class=" font-semibold">Email</div>
</th>
<th class="p-2">
    <div class=" font-semibold">Telefono</div>
</th>

{% endblock tr_thead %}

{% block tr_tbody %}

<td class="p-2">
    <div class="font-medium text-gray-800">{{ object.document }}</div>
</td>
<td class="p-2">
    <div class="font-medium text-gray-800">{{ object.name }}</div>
</td>
<td class="p-2">
    <div class="font-medium text-gray-800">{{ object.location }}</div>
</td>
<td class="p-2">
    <div class="font-medium text-gray-800">{{ object.email }}</div>
</td>
<td class="p-2">
    <div class="font-medium text-gray-800">{{ object.phone }}</div>
</td>

{% endblock tr_tbody %}

{% block message %}No tienes registros asociados{% endblock message %}