{% extends 'components/admin/form.html' %}
{% load widget_tweaks %}

{% block title %}Registrar Empleado{% endblock title %}

{% block form_body %}

<div class="grid md:grid-cols-2 md:gap-6">
    <div class="relative z-0 w-full mb-5 group">
        {{ form.first_name|add_class:"block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"|append_attr:"placeholder:Nombres"}}
    </div>
    <div class="relative z-0 w-full mb-5 group">
        {{ form.last_name|add_class:"block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"|append_attr:"placeholder:Apellidos"}}
    </div>
</div>
<div class="relative z-0 w-full mb-5 group">
    {{ form.email|add_class:"block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 pee"|append_attr:"placeholder:Email"}}
</div>
<div class="relative z-0 w-full mb-5 group">
    {{ form.password1|add_class:"block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 pee"|append_attr:"placeholder:Contraseña"}}
</div>
<div class="relative z-0 w-full mb-5 group">
    {{ form.password2|add_class:"block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 pee"|append_attr:"placeholder:Confirmar Contraseña"}}
</div>

{% endblock form_body %}

{% block button_text %}Crear Empleado{% endblock button_text %}