{% extends 'components/admin/form.html' %}
{% load widget_tweaks %}

{% block title %}Registrar Empleado{% endblock title %}

{% block form_body %}

<div class="grid md:grid-cols-2 md:gap-6">
    <div class="relative z-0 w-full mb-5 group">
        {% for error in form.first_name.errors %}
            <div class="text-xs text-red-700 font-medium block">
                <span>{{ error }}</span><br>
            </div>
        {% endfor %}
        {{ form.first_name|add_class:"block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none  focus:outline-none focus:ring-0 focus:border-blue-600 peer"|append_attr:"placeholder:Nombres"}}
    </div>
    <div class="relative z-0 w-full mb-5 group">
        {% for error in form.last_name.errors %}
            <div class="text-xs text-red-700 font-medium block">
                <span>{{ error }}</span><br>
            </div>
        {% endfor %}
        {{ form.last_name|add_class:"block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none  focus:outline-none focus:ring-0 focus:border-blue-600 peer"|append_attr:"placeholder:Apellidos"}}
    </div>
</div>
<div class="relative z-0 w-full mb-5 group">
    {% for error in form.email.errors %}
        <div class="text-xs text-red-700 font-medium block">
            <span>{{ error }}</span><br>
        </div>
    {% endfor %}
    {{ form.email|add_class:"block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none  focus:outline-none focus:ring-0 focus:border-blue-600 pee"|append_attr:"placeholder:Email"}}
</div>
<div class="relative z-0 w-full mb-5 group">
    {% for error in form.password1.errors %}
        <div class="text-xs text-red-700 font-medium block">
            <span>{{ error }}</span><br>
        </div>
    {% endfor %}
    {{ form.password1|add_class:"block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none  focus:outline-none focus:ring-0 focus:border-blue-600 pee"|append_attr:"placeholder:Contraseña"}}
</div>
<div class="relative z-0 w-full mb-5 group">
    {% for error in form.password2.errors %}
        <div class="text-xs text-red-700 font-medium block">
            <span>{{ error }}</span><br>
        </div>
    {% endfor %}
    {{ form.password2|add_class:"block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none  focus:outline-none focus:ring-0 focus:border-blue-600 pee"|append_attr:"placeholder:Confirmar Contraseña"}}
</div>

{% endblock form_body %}

{% block button_text %}Crear Empleado{% endblock button_text %}