{% extends 'components/table_admin.html' %}

{% block title_table %}Lista de Provedores{% endblock title_table %}

{% block url_add %}

<a href="{% url 'suppliers:create_supplier' %}" class="bg-cyan-500 my-auto text-sm hover:bg-cyan-600 text-white py-1 px-4 rounded-lg">
    Agregar
</a>

{% endblock url_add %}

{% block tr_thead %}

<th class="py-2 px-4 bg-grey-lightest font-bold uppercase text-sm text-grey-light border-b border-grey-light">DNI o NIT</th>
<th class="py-2 px-4 bg-grey-lightest font-bold uppercase text-sm text-grey-light border-b border-grey-light">Nombre</th>
<th class="py-2 px-4 bg-grey-lightest font-bold uppercase text-sm text-grey-light border-b border-grey-light">Ubicacion</th>
<th class="py-2 px-4 bg-grey-lightest font-bold uppercase text-sm text-grey-light border-b border-grey-light">Email</th>
<th class="py-2 px-4 bg-grey-lightest font-bold uppercase text-sm text-grey-light border-b border-grey-light">Telefono</th>
<th class="py-2 px-4 bg-grey-lightest font-bold uppercase text-sm text-grey-light border-b border-grey-light">Creador</th>
<th class="py-2 px-4 bg-grey-lightest font-bold uppercase text-sm text-grey-light border-b border-grey-light"></th>  

{% endblock tr_thead %}

{% block tr_tbody %}

<td class="py-2 px-4 border-b border-grey-light">{{ object.document }} </td>
<td class="py-2 px-4 border-b border-grey-light">{{ object.name }} </td>
<td class="py-2 px-4 border-b border-grey-light">{{ object.location }}</td>
<td class="py-2 px-4 border-b border-grey-light">{{ object.email }}</td>
<td class="py-2 px-4 border-b border-grey-light">{{ object.phone }}</td>
<td class="py-2 px-4 border-b border-grey-light">{% if object.user.first_name or object.user.last_name%} {{ object.user.fullname }} {% else %} {{ object.user.email }} {% endif %}</td>
<td class="py-2 px-4 border-b border-grey-light">
    <div class="flex gap-2">
        {% include 'components/modal.html' with delete_url='suppliers:delete_supplier' %}

        <a href="{% url 'suppliers:update_supplier' object.id %}">
            {% include 'components/icon_update.html' %}
        </a>
    <div>
</td>
{% endblock tr_tbody %}

{% block message %}No tienes provedores asociados aun{% endblock message %}