{% extends 'components/employees/table.html' %}
{% load humanize %}

{% block table_title %}Lista de Productos{% endblock table_title %}

{% block add_url %}

<a href="{% url 'products:create' %}" class="bg-blue-500 rounded-lg px-1 py-0.5 text-sm text-white hover:bg-blue-600">Agregar</a>

{% endblock add_url %}

{% block tr_thead %}

<th class="p-2">
    <div class=" font-semibold">Código</div>
</th>
<th class="p-2">
    <div class=" font-semibold">Nombre Producto</div>
</th>
<th class="p-2">
    <div class=" font-semibold">Precio Unitario</div>
</th>
<th class="p-2">
    <div class=" font-semibold">Cantidad Disponoble</div>
</th>
<th class="p-2">
    <div class=" font-semibold">Estado</div>
</th>
<th class="p-2">
    <div class=" font-semibold">Categoría</div>
</th>

{% endblock tr_thead %}

{% block tr_tbody %}

<td class="p-2">
    <div class="font-medium text-gray-800">{{ object.code }}</div>
</td>
<td class="p-2">
    <div class="font-medium text-gray-800">{{ object.name }}</div>
</td>
<td class="p-2">
    <div class="font-medium text-gray-800">{{ object.price|intcomma }}</div>
</td>
<td class="p-2">
    <div class="font-medium text-gray-800">{{ object.stock }}</div>
</td>
<td class="p-2">
    <div class="font-medium text-gray-800">
        {% if object.status == 'Available' %}
            Disponible
        {% elif object.status == 'Disabled'%}
            No Disponible
        {% endif %}
    </div>
</td>
<td class="p-2">
    <div class="font-medium text-gray-800">{{ object.category.name }}</div>
</td>

{% endblock tr_tbody %}

{% block message %}No tienes productos asociados aún {% endblock message %}
