{% extends 'components/employees/form.html' %}
{% load widget_tweaks %}

{% block title %}

<h2 class="text-3xl mt-5 mb-10 font-bold tracking-tight text-gray-900 sm:text-4xl"> Editar Información</h2>

{% endblock title %}

{% block form_body %}

<div class="grid grid-cols-1 gap-x-8 gap-y-6 sm:grid-cols-2">
  <div>
    <label for="first-name" class="block text-sm font-semibold leading-6 text-black">Nombres</label>
    <div class="mt-2.5">
      {{ form.first_name|add_class:"block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm shadow-blue-500 ring-1 ring-inset ring-blue-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-400 sm:text-sm sm:leading-6"}}
    </div>
  </div>
  <div>
    <label for="last-name" class="block text-sm font-semibold leading-6 text-black">Apellidos</label>
    <div class="mt-2.5">
      {{ form.last_name|add_class:"block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset shadow-blue-500 ring-blue-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-400 sm:text-sm sm:leading-6" }}
    </div>
  </div>
  <div class="sm:col-span-2">
      <label for="company" class="block text-sm font-semibold leading-6 text-black">Contraseña Actual</label>
      <div class="mt-2.5">
        {{ form.current_password|add_class:"block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset shadow-blue-500 ring-blue-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-400 sm:text-sm sm:leading-6"}}
      </div>
  </div>
  <div class="sm:col-span-2">
      <label for="company" class="block text-sm font-semibold leading-6 text-black">Nueva Contraseña</label>
      <div class="mt-2.5">
        {{ form.password_new|add_class:"block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset shadow-blue-500 ring-blue-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-400 sm:text-sm sm:leading-6"}}
      </div>
  </div>
</div>

{% endblock form_body %}

{% block button_text %} Agregar Cambios {% endblock button_text %}
