{% extends 'components/employees/table.html' %}

{% block table_title %}Lista de Categorías{% endblock table_title %}

{% block add_url %}

<a href="{% url 'categories:create' %}" class="bg-blue-500 rounded-lg px-1 py-0.5 text-sm text-white hover:bg-blue-600">Agregar</a>

{% endblock add_url %}

{% block tr_thead %}

<th class="p-2">
    <div class=" font-semibold">Código</div>
</th>
<th class="p-2">
    <div class=" font-semibold">Nombre Categoría</div>
</th>
<th class="p-2">
    <div class=" font-semibold">Ubicación</div>
</th>

{% endblock tr_thead %}

{% block tr_tbody %}

<td class="p-2">
    <div class="font-medium text-gray-800">{{ object.code }}</div>
</td>
<td class="p-2">
    <div class="font-medium text-gray-800">{{ object.name }}</div>
</td>
<td class="p-2">
    <div class="font-medium text-gray-800">
        {% if object.location %} {{ object.location }} {% else %} Ninguna {% endif %}
    </div>
</td>

{% endblock tr_tbody %}

{% block message %}No tienes categorías asociadas aún{% endblock message %}