{% extends 'components/admin/dashboard.html' %}

{% block content_dashboard %}

<section class="py-24 flex items-center min-h-full justify-center bg-white">
    <div class="mx-auto max-w-[43rem]">
      <div class="text-center">
        <p class="text-lg font-medium leading-8 text-indigo-600/95">Ahora Podras llevar de una forma mas eficiente tus inventarios</p>
        <h1 class="mt-3 text-[3.5rem] font-bold leading-[4rem] tracking-tight text-black">Lleva tus inventarios a otro nivel</h1>
        <p class="mt-3 text-lg leading-relaxed text-slate-400">Gestiona de la mejor manera tus empleados, productos y provedores</p>
      </div>
    </div>
  </section>

{% endblock content_dashboard %}

