{% extends 'components/table_admin.html' %}

{% block title_table %}Lista de Ventas{% endblock title_table %}

{% block url_add %}

<a href="{% url 'sales:sale_create' %}" class="bg-cyan-500 my-auto text-sm hover:bg-cyan-600 text-white py-1 px-4 rounded-lg">
    Agregar
</a>

{% endblock url_add %}


{% block tr_thead %}

<th class="py-2 px-4 bg-grey-lightest font-bold uppercase text-sm text-grey-light border-b border-grey-light">Producto Vendido</th>
<th class="py-2 px-4 bg-grey-lightest font-bold uppercase text-sm text-grey-light border-b border-grey-light">Usuario</th>
<th class="py-2 px-4 bg-grey-lightest font-bold uppercase text-sm text-grey-light border-b border-grey-light">Precion Unitario</th>
<th class="py-2 px-4 bg-grey-lightest text-wrap font-bold uppercase text-sm text-grey-light border-b border-grey-light">Cantidad Vendida</th>
<th class="py-2 px-4 bg-grey-lightest font-bold uppercase text-sm text-grey-light border-b border-grey-light">Fecha de Venta</th>
<th class="py-2 px-4 bg-grey-lightest font-bold uppercase text-sm text-grey-light border-b border-grey-light">Total</th>
<th class="py-2 px-4 bg-grey-lightest font-bold uppercase text-sm text-grey-light border-b border-grey-light"></th>

{% endblock tr_thead %}

{% block tr_tbody %}

<td class="py-2 px-4 border-b border-grey-light">
    {{ object.product.name }}
</td>
<td class="py-2 px-4 border-b border-grey-light">
    {% if object.user.first_name or object.user.last_name %} {{ object.user.fullname}} {% else %} {{ object.user.email }}  {% endif %}
</td>
<td class="py-2 px-4 border-b border-grey-light">{{ object.price_sale }}</td>
<td class="py-2 px-4 border-b border-grey-light">{{ object.amount_sale }}</td>
<td class="py-2 px-4 border-b border-grey-light">{{ object.created_at }}</td>
<td class="py-2 px-4 border-b border-grey-light">{{ object.total_sale }}</td>
<td class="py-2 px-4 border-b border-grey-light">
    {% include 'components/modal.html' with delete_url='sales:sale_delete' %}
</td>

{% endblock tr_tbody %}

{% block message %}

No tienes ventas asociadas aun

{% endblock message %}
