{% if paginator.num_pages > 1 %}
<div class="m-5">
    <div class="relative z-0 inline-flex rounded-md shadow-sm -space-x-px" aria-label="Pagination">
        <a {% if objects.has_previous %} href="?page={{ objects.previous_page_number }}#pagtable" {% endif %} class="relative inline-flex items-center px-2 py-2 rounded-l-md border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-gray-50">
            <span class="sr-only">Previous</span>
            <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd" />
            </svg>
        </a>
        {% for page in paginator.page_range %}
            {% if forloop.last and page != objects.number and paginator.num_pages > 7 %} 
                {% if objects.next_page_number != paginator.num_pages%}
                <a class="relative inline-flex items-center px-4 py-2 border border-gray-300 bg-white text-sm font-medium text-gray-700" href="?page={{ objects.number | add:1}}#pagtable">
                    ...
                </a>
                {% endif %}
                <a class="relative inline-flex items-center px-4 py-2 border border-gray-300 bg-white text-sm font-medium text-gray-700" href="?page={{paginator.num_pages}}#pagtable">
                    {{paginator.num_pages}}
                </a>
            {% endif %}
            {% if page == objects.number and page > 7 %}
            <a class="relative inline-flex items-center px-4 py-2 border border-gray-300 bg-white text-sm font-medium text-gray-700" href="?page={{ page | add:-1 }}#pagtable">
                ...
            </a>
            {% endif %}
            {% if page < 7 or page == objects.number %}
            <a class="{% if page == objects.number %} z-10 bg-green-50 border-green-500 text-green-600 {% else %} bg-white border-gray-300 text-gray-500 hover:bg-gray-50 {% endif %} relative inline-flex items-center px-4 py-2 border text-sm font-medium" href="?page={{ page }}#pagtable">
                {{ page }}
            </a>
            {% endif %}
        {% endfor %}
        <a {% if objects.has_next %} href="?page={{ objects.next_page_number }}#pagtable" {% endif %} class="relative inline-flex items-center px-2 py-2 rounded-r-md border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-gray-50">
            <span class="sr-only">Next</span>
            <!-- Heroicon name: solid/chevron-right -->
            <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
            </svg>
          </a>
    </div>
</div>
{% endif %}